body {
	text-align: center;
	font-family: monospace;
	font-size: 16px;
}

div#content {
	margin: 20px auto 4px auto;
	width: 400px;
}

div#lights {
	float: left;
}

div#info { 
	padding-top: 50px;
	margin-left: 100px;
}

p#temp {
	font-size: 40px;
}

td {
	width: 80px;
	height: 80px;
	border-radius: 40px;
}

.green {
	background-color: black;
}

.green.active {
	background-color: green;
}

.yellow {
	background-color: black;
}

.yellow.active {
	background-color: yellow;
}

.red {
	background-color: black;
}

.red.active {
	background-color: red;
}